@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080202;
  --base-colour: #E8E7E7;
}

body {
  color: var(--base-colour);
  background: var(--background);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
}